./idea
C:\Users\hodee\PycharmProjects\Complete-Python-3-Bootcamp\*\*\*.ipynb*
C:\Users\hodee\PycharmProjects\Complete-Python-3-Bootcamp\*\*\.ipynb_checkpoints
C:\Users\hodee\PycharmProjects\Complete-Python-3-Bootcamp\*\*\.ipynb_checkpoints\*
C:\Users\hodee\PycharmProjects\Complete-Python-3-Bootcamp\*.ipynb
/*/.ipynb_checkpoints/*.ipynb
*.iml

